$breakpoint-desktop: 1399px;
$breakpoint-laptop: 1199px;
$breakpoint-laptop2: 991px;
$breakpoint-tablet: 767px;

$bg-color-1: hsl(60, 100%, 97%);
$bg-color-2: hsl(0, 0%, 93%);
$header-color: #036666;
$button-color: #248277;
$filter-item-color: #56ab91;
$color-4: #67b99a;
$color-5: #78c6a3;
$color-6: #99e2b4;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  background-color: $bg-color-1 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $header-color !important;
  ul {
    li {
      margin-right: 1rem;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
  .header-icons {
    display: flex;
    align-items: center;
    position: relative;
    .fa-shopping-cart {
      position: relative;

      span {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
      }
    }
    .user-icon {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        i {
          color: hsl(200, 100%, 65%);
        }
        .user-dropdown {
          display: block;
        }
      }
      .user-dropdown {
        position: absolute;
        display: none;
        top: 100%;
        right: -20%;
        padding: 0;
        background-color: hsl(200, 10%, 80%);
        font-size: 1rem;
        width: 10rem;
        text-align: start;
        box-shadow: 0 0 10px hsl(200, 100%, 15%);
        list-style: none;
        &:hover {
          display: block;
          ~ i {
            color: hsl(200, 100%, 65%);
          }
        }
        div {
          padding: 0.5rem 1rem;
          cursor: pointer;
          color: black;
          width: inherit;
          &:hover {
            background-color: hsl(200, 100%, 15%);
            color: white;
          }
        }
      }
    }

    i {
      margin-left: 1rem;
      font-size: 1.7rem;
      cursor: pointer;
      &:hover {
        color: hsl(200, 100%, 65%);
      }
    }
  }
}
nav {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  .breadcrumb {
    font-size: 1.3rem;
    margin: 0;

    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: #14746f;
      }
    }
  }
}
.products-header {
  position: sticky;
  top: 4.4rem;
  z-index: 1;
  padding: 0 1rem;
  height: 4rem;
  background-color: $bg-color-1;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .selected-filters {
    display: flex;
    .filter {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
      padding: 0 0.3rem;
      cursor: pointer;
      &:hover {
        background-color: $filter-item-color;
      }
      .fa-times {
        margin-left: 0.5rem;
        padding-top: 0.1rem;
        height: fit-content;
      }
      .fa-times-circle {
        font-size: 2rem;
      }
    }
  }
  .dropdown {
    button {
      background-color: $button-color !important;
      width: 11rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dropdown-menu {
      padding: 0;
      .dropdown-button {
        padding: 0.4rem 0.7rem;
        cursor: pointer;

        &:hover {
          background-color: $button-color;
        }
      }
      .selected {
        background-color: $button-color;
      }
    }
  }
}
.filter-container {
  position: sticky;
  top: 5rem;
  width: 15rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 50rem;
  .filter {
    padding: 0 0.5rem;
    .colors {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
      gap: 0.5rem;
      padding: 0.5rem 0;
      i {
        cursor: pointer;
        font-size: 2rem;
      }
    }
    .item {
      border: 1px solid black;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: $filter-item-color;
      }
    }
    .prices {
      display: grid;
      gap: 0.5rem;
      margin-top: 0.5rem;
    }
    .selected {
      background-color: $filter-item-color;
    }
  }
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 1rem;
  column-gap: 0.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;

  .product-card {
    height: 25rem;
    z-index: 0;
    position: relative;
    cursor: pointer;
    &:hover {
      .product-hover {
        opacity: 1;
      }
      .product-data {
        i {
          opacity: 1;
        }
      }
    }
    img {
      width: 100%;
      height: 85%;
      object-fit: cover;
    }
    .product-data {
      height: 15%;
      font-weight: 400;
      padding: 0.2rem 0.5rem;

      h2,
      p {
        margin: 0;
        font-weight: 500;
      }
      i {
        font-size: 1.8rem;
        opacity: 0;
        &:hover {
          color: $button-color;
        }
      }
    }
    .product-hover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 15%;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      opacity: 0;
      transition: opacity 0.5s;
      .items {
        min-width: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        gap: 0.5rem;
        .size {
          border: 1px solid $filter-item-color;
          text-align: center;
          cursor: pointer;
          justify-self: center;
          padding: 0.1rem 0.3rem;
          width: 2.5rem;
          
        }
      }
      .colors {
        min-width: 10rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 1rem 0;
        i {
          font-size: 1.5rem;
          width: fit-content;
        }
      }
      
    }
  }
}
.product-content {
  display: flex;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.5rem;
  .slider {
    width: 50rem;
  }
  img {
    height: 40rem;
    padding: 1rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  .product-data {
    width: 50rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(200, 100%, 95%);
  }
}

.profile {
  .profile-header {
    padding: 1rem;
    background-color: hsl(200, 60%, 45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .address-container {
    display: grid;
    grid-template-columns: repeat(4, 16rem);
    gap: 0.5rem 1rem;
    .address {
      margin: 1rem 0;
      border: solid 1px hsl(200, 10%, 80%);
      .address-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: hsl(200, 60%, 75%);
        h4 {
          margin: 0;
        }
        .button-container {
          top: 0;
          right: 0;
          i {
            margin-left: 0.5rem;
            cursor: pointer;
            &:hover {
              color: hsl(200, 60%, 45%);
            }
          }
        }
      }
      .address-body {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.order {
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid hsl(200, 10%, 80%);
  border-radius: 1rem;
  img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
.cart-item {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid hsl(200, 10%, 80%);
  border-radius: 1rem;
  .button-container {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    i {
      cursor: pointer;
      &:hover {
        color: hsl(200, 60%, 45%);
      }
    }
  }
  img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .item-info {
    .item-price {
      display: flex;
      align-items: center;
      h5 {
        margin: 0;
      }
      i {
        margin: 0 0.5rem;
        font-size: 1rem;
        height: min-content;
        cursor: pointer;
      }
      .fa-minus-square {
        &:hover {
          color: red;
        }
      }
      .fa-plus-square {
        &:hover {
          color: green;
        }
      }
    }
  }
}
.checkout-container {
  .checkout {
    background-color: hsl(200, 100%, 95%);
    padding: 1rem;
    .address-container {
      display: grid;
      grid-template-columns: repeat(4, 14rem);
      gap: 0 2rem;
      margin: 1.5rem 0;
      .address {
        cursor: pointer;
        border: 2px solid hsl(0, 0%, 85%);
        .address-header {
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: space-between;
          .address-title {
            display: flex;
            align-items: center;
            h4 {
              margin-left: 0.3rem;
            }
          }
          .button-container {
            i {
              margin-left: 0.5rem;
              cursor: pointer;
              &:hover {
                color: hsl(200, 60%, 45%);
              }
            }
          }
        }
        .address-body {
          padding: 0.5rem 1rem;
          border-top: 1px solid hsl(0, 0%, 85%);
          &:hover {
            background-color: hsl(200, 60%, 75%);
          }
        }
      }
      .selected {
        border: 2px solid hsl(200, 60%, 75%);
        .address-body {
          background-color: hsl(200, 60%, 75%);
          border-top: 1px solid hsl(200, 60%, 75%);
        }
      }
      .address-button {
        flex-direction: column;
      }
    }
  }
  .cart {
    background-color: hsl(200, 60%, 75%);
    position: sticky;
    top: 5rem;
    padding: 1rem;
    height: 50rem;
    .product-container {
      margin-top: 1rem;
      .product {
        position: relative;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid hsl(200, 100%, 95%);
        border-bottom: none;
        justify-content: space-between;
        align-items: center;
        &:last-child {
          border-bottom: 1px solid hsl(200, 100%, 95%);
        }
        .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1rem;
          .amount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 1rem;
            height: 26px;
            i {
              font-size: 0.8rem;
              cursor: pointer;
              border: 1px solid black;
              padding: 0.355rem 0.2rem;
            }
            .fa-minus {
              &:hover {
                color: red;
              }
            }
            .fa-plus {
              &:hover {
                color: green;
              }
            }
            div {
              padding: 0 0.5rem;
              border-width: 1px;
              border-style: solid none solid none;
            }
          }
        }
        .button-container {
          position: absolute;
          top: 0.25rem;
          right: 0.5rem;
          i {
            cursor: pointer;
            &:hover {
              color: hsl(200, 60%, 45%);
            }
          }
        }
      }
    }
  }
}
.modal-text {
  text-align: center;

  .modal-link {
    color: blue;
    cursor: pointer;
  }
}
.modal-body {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin-right: 1rem;
      width: 5rem;
    }
  }
}
.modal-footer {
  justify-content: center !important;
}

@media (max-width: $breakpoint-desktop) {
}
@media (max-width: $breakpoint-laptop) {
  .filter-container {
    display: none;
  }
}
@media (max-width: $breakpoint-laptop2) {
  .products-container {
    .product-card {
      height: 30rem;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
}
